.DS_Store
.ipynb_checkpoints/*
.ipynb_checkpoints/TKO scATAC and scRNA EDA-checkpoint.ipynb
*.rds
.Rproj.user
.Rhistory
.DS_Store
.RData
data/scaled-SCT-data.csv
*.Robj
data/data_from_debbie/scaled-SCT-data.csv
data/data_from_debbie/scaled-SCT-data_small.csv
data/PC_smg/scaled-SCT-data_small.csv
.DS_Store
*.gz
data/magic_imputed_no_ciliated.csv
*.gz
data/TKO_imputed.csv.gz
data/magic_imputed_no_ciliated.csv
.DS_Store
notebooks/.idea/workspace.xml
data/cibersort-ne-cells-closest-to-archetypes copy.txt
data/cibersort-ne-cells-closest-to-archetypes.csv
data/cibersort-ne-cells-clustered.txt
data/data_attr_data_imputed-ne.csv
data/cibersort-ne-cells-closest-to-archetypes.txt
data/data_attr_data_imputed-ne.csv
data/cibersort-ne-cells-clustered.txt
data/cibersort-ne-cells-closest-to-archetypes.txt
data/cibersort-ne-cells-closest-to-archetypes.csv
data/cibersort-ne-cells-closest-to-archetypes copy.txt
data/cibersort-ne-cells-closest-to-archetypes copy.txt
data/M1/cibersort-ne-cells-closest-to-archetypes copy.txt
data/M1/cibersort-ne-cells-closest-to-archetypes.csv
data/M1/cibersort-ne-cells-closest-to-archetypes.txt
data/M1/data_attr_data_imputed-ne.csv
data/M1/cibersort-ne-cells-clustered.txt
data/M1/data_from_debbie/scaled-SCT-data.csv
data/M1/data_from_debbie/scaled-SCT-data_small.csv
data/M1/data_from_debbie/umap-embedding_small.csv
data/M1/PC_smg/scaled-SCT-data_small.csv
data/M2/adata_01.h5ad
data/M2/adata_01_filtered.h5ad
data/M2/adata_01_small.h5ad
data/M2/adata_02.h5ad
data/M2/adata_02_filtered.h5ad
data/M2/adata_03.h5ad
data/M2/adata_03_filtered.h5ad
data/M2/adata_03b.h5ad
data/M2/adata_04_by-timepoint_filtered.h5ad
data/M2/X_magic_02.h5ad
data/M2/X_magic_02_filtered.h5ad
data/M2/X_magic_03b.h5ad
data/M2/X_magic_for_R.h5ad
data/M2/X_magic_for_R.h5seurat
data/M2/X_magic_for_R_filtered.h5ad
*.h5ad
data/M1/magic_imputed_no_ciliated.csv
notebooks/ParetoTI/integrated-corrected-data.csv
