.DS_Store
.ipynb_checkpoints/*
.ipynb_checkpoints/TKO scATAC and scRNA EDA-checkpoint.ipynb
*.rds
.Rproj.user
.Rhistory
.DS_Store
.RData
data/scaled-SCT-data.csv
*.Robj
data/data_from_debbie/scaled-SCT-data.csv
data/data_from_debbie/scaled-SCT-data_small.csv
data/PC_smg/scaled-SCT-data_small.csv
.DS_Store
*.gz
data/magic_imputed_no_ciliated.csv
*.gz
data/TKO_imputed.csv.gz
data/magic_imputed_no_ciliated.csv
.DS_Store
notebooks/.idea/workspace.xml
